.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.actions-list {
    padding: 20px;
    float: right;
}
.pagination {
    margin-top: 20px;
}

.page-title {
    padding: 20px;
}

.alert {
    margin-top: 20px;
}
.card-body {
    min-height: 200px;
}
.card {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sort-controls {
    text-align: right;
}

.login-form {
    margin-top: 40px;
    max-width: 400px;
}

.task-header {
    display: flex;
    justify-content: space-between;
}
.edited-tag {
    position: absolute;
    color: #b9b5b5;
    right: 6px;
    font-size: 13px;
    bottom: 50px;
    user-select: none;
}